* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background: #1E1F25;
}

.Icon {
    padding-left: 23%;
    padding-top: .8%;
}

.Container {
    float: left;
}

.pageTitle {
    position: absolute;
    text-align: center;
    padding: 1rem 1rem 1.15rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    margin: auto;
}

    .pageTitle:hover {
        background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
        background-size: 100% 100%;
        color: #27262c;
        animation: spring 300ms ease-out;
        text-shadow: 0 -1px 0 #ef816c;
        font-weight: bold;
    }

    .pageTitle:active {
        transform: translateY(4px);
    }

.noDecoration {
    text-decoration: none;
    color: white;
    background-image: none !important;
    background-size: unset !important;
}

.ul1 {
    display: flex;
    width: 100%;
    height: 22vh;
    margin: auto;
    max-width: 1000px;
    padding-bottom: 25px;
    justify-content: space-between;
    text-align: center;
    font-family: 'Comic Sans MS';
}

.nav {
    padding: 1rem 1rem 1.15rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    margin: auto;
}

    .nav:hover {
        background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
        background-size: 100% 100%;
        color: #27262c;
        animation: spring 300ms ease-out;
        text-shadow: 0 -1px 0 #ef816c;
        font-weight: bold;
    }

    .nav:active {
        transform: translateY(4px);
    }

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }

    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }

    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}